.mainbody#second { 
    

}

.services {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 100px 10px 0px 10px;
  }


.services > * {
    flex-grow: 1;
  }
  
  .circle--rotate {
    border-radius: 50%;
    border: 5px #e8e7e9cb solid;
    width: 43%;
    height: 43%;
    margin: 0 auto 0;
    position: relative;
    transform: rotate(0deg);
    z-index: 0;
    padding: 0;
  }
  .circle--rotate > li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
  }
  .circle--rotate > li .icon {
    visibility: visible;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #000000;
    height: 10%;
    width: 10%;
    margin: -5% auto;
    transition: all 500ms ease;
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.2);
  }
  .circle--rotate > li i {
    color: #ffffff;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: table;
  }
  .circle--rotate > li i::before {
    display: table-cell;
    vertical-align: middle;
  }
  .circle--rotate > li img {
    margin: auto;
  }
  
  .circle--slider {
    position: relative;
  }
  .circle--slider .rotate--circle {
    margin: 0 auto;
  }
  .circle--slider .circle--rotate > li div {
    position: relative;
    overflow: visible;
    background-image: linear-gradient(to right,#e2adc1,#eed2a2);
  }
  .circle--slider .circle--rotate > li div span {
    transform: rotate(0deg);
    transition: all 2s;
    opacity: 0;
  }
  .circle--slider .circle--rotate > li.active div {
    font-size: 20px;
    background-image: linear-gradient(to right,#9eced4,#98e0e6);
    transition: all 1s;
    border-style: solid;
    border-width: 5px;
  }
  .circle--slider .circle--rotate > li.active div span {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    z-index: -1;
    opacity: 1;
  }
  .circle--slider .circle--rotate > li.active div span:before {
    position: absolute;
    height: 1px;
    top: -50%;
    right: 140%;
    bottom: 0;
    margin: auto;
    content: "";
    width: 10%;
    height: 10%;
    filter: blur(3px);
    opacity: 0.7;
    border: 6px solid #b1eeee;
    z-index: -1;
  }
  .circle--slider .circle--rotate > li.active div span:after {
    position: absolute;
    height: 1px;
    top: 100%;
    left: 130%;
    bottom: 0;
    margin: auto;
    content: "";
    width: 10%;
    height: 10%;
    border-radius: 50%;
    opacity: 0.7;
    border: 6px solid #b1eeee;
    filter: blur(3px);
    z-index: 5;
  }
  .circle--slider .count2 li:nth-child(2) {
    transform: rotate(180deg);
  }
  .circle--slider .count3 li:nth-child(2) {
    transform: rotate(120deg);
  }
  .circle--slider .count3 li:nth-child(3) {
    transform: rotate(240deg);
  }
  .circle--slider .count4 li:nth-child(2) {
    transform: rotate(90deg);
  }
  .circle--slider .count4 li:nth-child(3) {
    transform: rotate(180deg);
  }
  .circle--slider .count4 li:nth-child(4) {
    transform: rotate(270deg);
  }
  .circle--slider .count5 li:nth-child(2) {
    transform: rotate(72deg);
  }
  .circle--slider .count5 li:nth-child(3) {
    transform: rotate(144deg);
  }
  .circle--slider .count5 li:nth-child(4) {
    transform: rotate(216deg);
  }
  .circle--slider .count5 li:nth-child(5) {
    transform: rotate(-72deg);
  }
  .circle--slider .count6 li:nth-child(2) {
    transform: rotate(60deg);
  }
  .circle--slider .count6 li:nth-child(3) {
    transform: rotate(120deg);
  }
  .circle--slider .count6 li:nth-child(4) {
    transform: rotate(180deg);
  }
  .circle--slider .count6 li:nth-child(5) {
    transform: rotate(240deg);
  }
  .circle--slider .count6 li:nth-child(6) {
    transform: rotate(-60deg);
  }
  .circle--slider .count7 li:nth-child(2) {
    transform: rotate(51.5deg);
  }
  .circle--slider .count7 li:nth-child(3) {
    transform: rotate(103deg);
  }
  .circle--slider .count7 li:nth-child(4) {
    transform: rotate(154.5deg);
  }
  .circle--slider .count7 li:nth-child(5) {
    transform: rotate(206deg);
  }
  .circle--slider .count7 li:nth-child(6) {
    transform: rotate(-103deg);
  }
  .circle--slider .count7 li:nth-child(7) {
    transform: rotate(-51.5deg);
  }
  .circle--slider .count8 li:nth-child(2) {
    transform: rotate(45deg);
  }
  .circle--slider .count8 li:nth-child(3) {
    transform: rotate(90deg);
  }
  .circle--slider .count8 li:nth-child(4) {
    transform: rotate(135deg);
  }
  .circle--slider .count8 li:nth-child(5) {
    transform: rotate(180deg);
  }
  .circle--slider .count8 li:nth-child(6) {
    transform: rotate(-135deg);
  }
  .circle--slider .count8 li:nth-child(7) {
    transform: rotate(-90deg);
  }
  .circle--slider .count8 li:nth-child(8) {
    transform: rotate(-45deg);
  }
  .circle--slider .count9 li:nth-child(2) {
    transform: rotate(40deg);
  }
  .circle--slider .count9 li:nth-child(3) {
    transform: rotate(80deg);
  }
  .circle--slider .count9 li:nth-child(4) {
    transform: rotate(120deg);
  }
  .circle--slider .count9 li:nth-child(5) {
    transform: rotate(160deg);
  }
  .circle--slider .count9 li:nth-child(6) {
    transform: rotate(-160deg);
  }
  .circle--slider .count9 li:nth-child(7) {
    transform: rotate(-120deg);
  }
  .circle--slider .count9 li:nth-child(8) {
    transform: rotate(-80deg);
  }
  .circle--slider .count9 li:nth-child(9) {
    transform: rotate(-40deg);
  }
  .circle--slider .count10 li:nth-child(2) {
    transform: rotate(36deg);
  }
  .circle--slider .count10 li:nth-child(3) {
    transform: rotate(72deg);
  }
  .circle--slider .count10 li:nth-child(4) {
    transform: rotate(108deg);
  }
  .circle--slider .count10 li:nth-child(5) {
    transform: rotate(144deg);
  }
  .circle--slider .count10 li:nth-child(6) {
    transform: rotate(-180deg);
  }
  .circle--slider .count10 li:nth-child(7) {
    transform: rotate(-144deg);
  }
  .circle--slider .count10 li:nth-child(8) {
    transform: rotate(-108deg);
  }
  .circle--slider .count10 li:nth-child(9) {
    transform: rotate(-72deg);
  }
  .circle--slider .count10 li:nth-child(10) {
    transform: rotate(-36deg);
  }
  .circle--slider .animate-wrapper {
    width: 25%;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  .circle--slider .animate-title {
    color: #000000;
    font-size: 1.2em;
     
  }



  .circle--slider .animate-img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    overflow: hidden;
  }
  .circle--slider .animate-img .animate-img__in {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate3d(0, 0, 0, 0deg) scale(0.85);
    transition: 0.55s ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.3);
  }
  .circle--slider .animate-more {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s 0.4s;
    width: 70%;
    overflow: hidden;
    text-align: center;
    top: -45%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
font-size: .8em;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80px;
    transform: scale(0.8);
 


  }

 



.subtitle#list{ 
    font-size: 18px;
        margin-top: 35%;
        width: 85%;
        position: absolute;
padding: 5px 5px 5px 5px;  
left: 5%;

        text-align: left;



    }


  .circle--slider .animate.active .animate-more {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .circle--slider .animate.active .animate-img .animate-img__in {
    opacity: 1;
    transform: scale(1);
  }
  .circle--slider .prev,
  .circle--slider .next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 62px;
    width: 87px;
    text-align: center;
    cursor: pointer;
  }
  .circle--slider .prev span,
  .circle--slider .next span {
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
            text-orientation: upright;
    font-weight: 700;
  }
  .circle--slider .prev {
    left: 250px;
  }
  .circle--slider .next {
    right: 250px;
  }
  
  div.prev#move { 
    position: absolute;
    left: 0;
    box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
      }
    
    
      div.next#move { 
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        box-shadow: none;
        background-color: transparent;
        
        justify-content: center;
        text-align: center;
        font-size: 20px;
    vertical-align: middle;
    
          }
    
    
          .animate-img__in#circle1 { 
              background-color: rgb(212, 211, 216);
    
          }

 @media only screen and (max-width : 1600px) {


    .subtitle#list{ 
        font-size: 15px;
            margin-top: 35%;
            width: 85%;
            position: absolute;
    padding: 5px 5px 5px 5px;  
    left: 13%;
   
            text-align: left;
    
    
    
        }



        @media only screen and (max-width : 1099px) {


            .subtitle#list{ 

                top: 150%;
                left: -50%;
                 width: 420px;
                height: auto;
     
            padding: 0px 20px 30px 20px;

            background-color: rgba(255, 255, 255, 0.534);
            box-shadow: 0 4px 8px 0 rgba(187, 161, 175, 0.103), 0 6px 20px 0 rgba(202, 116, 159, 0.19);
            margin: 10px 25px 20px 25px;
            border-radius: 20px 20px 20px 20px;
            
                }
        

                
        .circle--slider .animate-more {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s 0.4s;
            width: 70%;
            overflow: hidden;
            text-align: center;
            top: 0%;
            align-items: center;
            display: flex;
            justify-content: center;
            position: absolute;
        font-size: 1em;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 80px;
            transform: scale(0.8);





        }
        
                }









@media only screen and (max-width : 783px) {

    @media only screen and (max-width : 1099px) {


        .subtitle#list{ 

            top: 150%;
            left: -200%;
             width: 250px;
            height: auto;
 
        padding: 10px 20px 30px 20px;

        background-color: rgba(255, 255, 255, 0.534);
        box-shadow: 0 4px 8px 0 rgba(187, 161, 175, 0.103), 0 6px 20px 0 rgba(202, 116, 159, 0.19);
        margin: 10px 25px 20px 25px;
        border-radius: 20px 20px 20px 20px;
        
            }
    


            
    .circle--slider .animate-more {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s 0.4s;
        width: 80%;
        overflow: auto;
        text-align: center;
        top: 0%;
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
    font-size: 11px;
    padding: 0px 15px 0px 15px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 80px;
        transform: scale(0.8);
        background-color: yellow;





    }
    

    .circle--rotate > li .icon {
        visibility: visible;
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        font-size: 10px;
        color: #ffffff;
        border-radius: 50%;
        background-color: #000000;
        margin: 10px 10px 100px 10px;
        height: 30%;
        width: 30%;

        transition: all 500ms ease;
        box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.2);
      }
            
    
      .services {
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 50px 0px 10px 0px;
      }
    
    
      .circle--rotate {
        border-radius: 50%;
        border: 1px #e8e7e9cb solid;
        width: 43%;
        height: 43%;
        margin: 0 auto 0;
        position: relative;
        transform: rotate(0deg);
        z-index: 0;
        padding: 0;
      }
    
    
    
    
    
    
    
    
    
    
    
    
    }


















          }
