
.modal-content {
    text-align: center;
    justify-content: center;
    padding: auto;
 height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }