.modal-content {
    text-align: center;
    justify-content: center;
    padding: auto;
 width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  
  @media only screen and (max-width : 768px) {

    .modal-content {
        text-align: center;
        justify-content: center;
        padding: auto;
     width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      